.navbar, .card-header{
    /* background-color: salmon; */
    background: linear-gradient(#25DCC3,#2C85C3);
}
.encabezado{
    background: linear-gradient(#E1FCF6 30%,#25DCC3);
}
.container{
    text-align: center;
    /* color: #2C85C4; */
}
.btn{
    background-color: #2C85C3;
}
